@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
.about-us{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* #f1d9cb #ddd #f1c998 #f1eae1*/
.toph{
  padding-top: 150px;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #f1eae1;
}

.about-us > .about >.pic{
  height: auto;
  width: 210px;
}
.about-us > .about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0px;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 10px;
}
.one h2, .two h2{
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 10px;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #ca7e37;
}
.text p{
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}
.aboutusx{
  height: 62vh;
  width: 100%;
  padding: 90px 0;
  background: #f1eae1;
  padding-top: 0px;;
}
.aboutusx > .texts h2{
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-left: 100px;
}
.aboutx{
  display: flex;
  flex-direction: column;
}
.values{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.aboutx > .values > .cont img{
  width: 180px;
  margin: 40px;
}
.aboutx> .values > .cont{
  width: fit-content;
}
.aboutx> .values > .cont h3{
  text-align: center;
}


@media (max-width: 1045px) {
  .header1 {
    flex-direction: column;
    align-items: center;
  }
  .about-us > .about{
    gap: 60px;
  }
  .aboutusx{
  height: 48vh;
  }
  .pricing {
    margin-bottom: 60px;
  }
  header .headers {
    margin-top: 280px;
  }
  .box {
    margin-bottom: 20px;
  }
  .box2 {
    margin-bottom: 30px;
  }
  .box3 {
    margin-left: 30px;
  }
}
@media (max-width: 935px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
  .aboutusx{
    height: 180vh;
  }
  .aboutx > .values{
    flex-direction: column;
  }
  .aboutx > .values > .cont img {
    width: 180px;
}
  .about-us> .one1{
    margin-top: 30px;
  }
  .primary > .links {
    display: none;
  }
  .row.secondary {
    flex-direction: column;
  }
  .col {
    flex-direction: column;
  }
  .col1,
  .col2 {
    width: 100%;
    margin-right: 0;
  }
  .header1 {
    z-index: 1000;
    overflow: hidden;
    flex-direction: column;
    height: 200px;
  }
  .features h3 {
    text-indent: 0;
  }
  .container {
    height: 300px;
  }
  .container > .headers {
    text-align: justify;
    height: 325px;
  }
  .pricing {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .containera {
    width: 90vmin;
  }
  .container > .headers > .top {
    justify-content: flex-start;
  }
}
@media (max-width: 530px) {
  .feature h3 {
    font-size: 20px;
  }
  .exec-heading{
    margin-top: 425px;
  }
  .aboutusx{
    height: 165vh;
  }
  .aboutusx > .texts h2{
    font-size: 30px;
  }
  .about-us{
    height: 115vh;
  }
  .toph {
    padding-top: 170px;
}
  .about-us > .about > .picl{
    display: none;
  }
  .about-us> .one1{
    margin-top: 160px;
  }
  .about-us> .two2{
    margin-top: 60px;
  }
  .feature p {
    font-size: 15px;
  }
  .about-us > .about {
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }
  .text {
    width: 100%;
    margin: 20px 0;
  }
  .about-us > .about > .pic {
    width: 100%;
    max-width: 200px;
  }
  .text h2 {
    font-size: 30px;
  }
  .text h5 {
    font-size: 18px;
  }
  .text p {
    font-size: 16px;
  }
  .hire {
    padding: 10px 20px;
  }
}
@media (max-width: 376px) {
  .feature h3 {
    font-size: 13px;
  }
  .aboutusx{
    height: 168vh;
    width: 103%;
  }
  .aboutusx > .texts h2{
    font-size: 40px;
  }
  .about-us{
    width: 103%;
  }
  .toph{
    margin-top: -30px;
  }
  .about-us> .one1{
    margin-top: 150px;
  }
  .about-us> .two2{
    margin-top: -10px;
  }
  .feature p {
    font-size: 10px;
  }
  .text h2 {
    font-size: 30px;
  }
  .text h5 {
    font-size: 16px;
  }
  .text p {
    font-size: 14px;
  }
}
